@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Google Sans Flex Variable', sans-serif;
  --font-mono: 'Google Sans Flex Variable', monospace;
  --color-meewa-red: #EE3050;
  --color-meewa-dark: #1F1F1F;
  --color-meewa-light: #F9F9F9;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
